/*#region main*/
.hidden {
    display: none !important;
}

:focus {
    outline: 0;
}

button {
    background: transparent;
    border: solid transparent;
    border-radius: 3px;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;

    background: #f5f5f5;
    color: #4d4d4d;
    font: 14px 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
}

header {
    grid-area: header;
    justify-self: center;
}

header h1{
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: 100;
    margin-bottom: 0;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "search"
    "list"
    "status";

    background: white;
    margin: 0 0 40px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 25px 50px 0 rgba(0,0,0,0.1);
}

/*#endregion main*/

/*#region todo-bar*/
main #todo-top{
    grid-area: search;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-areas: 
    "checkbox searchbar";
    border-bottom-style: solid;
    border-color: lightgray;
}

main #todo-top .toggle-all{
    opacity: 0;
    height: 40px;
    width: 40px;
    grid-area: checkbox;
    align-self: center;
}

main #todo-top label {
    line-height: 1.2;
    grid-row-start: 1;
    grid-column-start: 1;
}

main #todo-top .toggle-all + label {
    background-image: url(images/circle.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

main #todo-top .toggle-all:checked + label {
    background-image: url(images/circle_tick.svg);
}

main #todo-top .todo-bar{
    background: rgba(0, 0, 0, 0.003);
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    justify-self: stretch;
    grid-area: searchbar;
}

main #todo-top .todo-bar #input-bar{
    position: relative;
    width: auto;
    height: 50px;
    border: none;
    font-size: 24px;
    font-style: oblique;
    text-align: left;
    padding: 16px;
}
main #todo-top .todo-bar #input-bar::placeholder{
    color: #d9d9d9;
}
/*#endregion todo-bar*/

/*#region todo-list*/
main #todo-list{
    grid-area: list;
    list-style: none;
    padding: 0%;
}

main #todo-list li{
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-areas: 
    "checkbox label delete";
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}


main #todo-list li .toggle{
    opacity: 0;
    height: 40px;
    width: 40px;
    grid-area: checkbox;
}


main #todo-list li label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    line-height: 1.2;
    grid-row: 1;
    grid-column: span 3 / -1;
}

    main #todo-list li .toggle + label {
        background-image: url(images/circle.svg);
        background-repeat: no-repeat;
        background-position: center left;
    }

    main #todo-list li .toggle:checked + label {
        background-image: url(images/circle_tick.svg);
    }

    main #todo-list li.completed label{
        color: #d9d9d9;
        text-decoration: line-through;
    }

main #todo-list li .remove-button{
    justify-self: center;
    margin: 0;
    padding: 0;
    grid-area: delete;
}
/*#endregion todo-list*/

/*#region status-field*/
main #status-field{
    grid-area: status;
    display: grid;
    grid-template-columns: 20% 55% 25%;
    padding-left: 10px;
    padding-right: 10px;
}

main #status-field #filter-button{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0%;
    justify-self: center;
}

main #status-field #filter-button li {
    padding: 2px;
    display: inline;
}
main #status-field #filter-button li button{
    cursor: pointer;
}

main #status-field #filter-button li button:hover {
    border: solid rgba(175, 47, 47, 0.1);
}

main #status-field #filter-button li button.active {
    border: solid rgba(175, 47, 47, 0.15);
}

main #status-field #clear-completed{
    justify-self: center;
    align-self: center;
}

main #status-field #clear-completed:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*#endregion status-field*/

/*#region footer*/
footer {
    grid-area: footer;
    justify-self: center;
}

footer .info {
    margin-top: 25px;
    color: #bfbfbf;
    font: 10px Helvetica Neue, cursive;
}

footer a {
    color: #bfbfbf;
}

footer a:link {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    text-decoration: none;
}

footer a:active {
    text-decoration: underline;
}
/*#endregion footer*/