/*
    TODO
    Add styling for li
    Add styling for completed li
    Hide "clear completed button"
    Change styling on clear completed compared to other buttons
    remove dot for list items
    style li objects with class hidden
    style 
 */

* {
}

body {
    background-color: #f5f5f5;
    color: #bfbfbf;
    font: 14px 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: 100;
    margin-bottom: 0;
}

.todobar {
    background: rgba(0, 0, 0, 0.003);
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
}

input[type="text"] {
    height: 50px;
    width: 470px;
    border: none;
    font-size: 24px;
    font-style: oblique;
    text-align: center;
}

input[type="checkbox"] {
    width: 35px;
    height: 35px;
    clip-path: circle(40% at 50% 50%);
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
}

#todo-list li #toggle + label {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center left;
}

#todo-list li #toggle:checked + label {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}


.info {
    margin-top: 50px;
    color: #bfbfbf;
    font: 10px Helvetica Neue, cursive;
}

/*
        background: #f5f5f5;
*/


